@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gowun+Dodum&family=Oswald:wght@200..700&display=swap');
:root {
    font-size: 1.2em;
}
body {
    background-color: rgb(249, 249, 249);
    margin: 0px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    text-align: center;
    margin: 20px;
}

header {
    background-color: rgb(194, 227, 255);
    color: rgb(57, 60, 60);
    padding: 5px 12%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    float: right;
    list-style-type: none;
    padding: 0px; 
    margin: 0px;
    overflow: hidden;
    display: flex;
}

nav a {
    color: rgb(8, 80, 142);
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    text-align: center;
}

nav a:hover {
    background-color: rgb(142, 195, 241);
}

/* Fonts */

h1, h2, h3, h4 {
    font-family: "Gowun Dodum", sans-serif;
        font-weight: 1000;
        font-style: normal;
}

nav {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

/* Section */

section{
    padding: 10px;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section#table {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 30%;
}

th {
    font-weight: bolder;
}

table, th, td {
    border: 1px solid;
}

.aboutrow {
    display: flex;
    padding: 20px;
    margin: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aboutcolumn {
    flex: 33.33%;
    margin: 30px auto;
}

/* Footer */

footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(194, 227, 255);
    color: rgb(57, 60, 60);
}

/* Media Queries */

@media screen and (max-width: 540px) {
    body {
        flex-direction: column;
    }
    h1, h2, h3, h4 {
        font-size: 1em;
    }
    nav {
        font-size: 1em;
    }
    p {
        font-size: 1em;
    }
    section {
        font-size: 0.5em;
    }
    li {
        font-size: 0.8em;
    }
    section#table {
        width: auto;
        font-size: 0.5em;
    }
    small {
        font-size: 0.5em;
    }
    .aboutrow {
        width: 40%;
        flex-direction: column;
        margin: 0 auto;
    }
}